#logo{
   color:white;
   position: absolute;
   left: 20px;
    top: 1.5rem;

}

@media (max-width:768px){
    
    #logo{
        left: 10px;
        top: 2rem;
        font-size: 11px;
     
     }
     
}